body {
	text-align: center;
}

#body {
	margin-top: 20%;
	height: 300px;
}

.buttonRow {
	text-align: center;
	margin-top: 20px;
}

#button1 {

	}

.inputRow {
	margin-top: 20px;
}

#x {
	height: 35px;
	font-size: 20px;
}